@using Elegance.Extensions

<div>
	@if (shipments is not null)
	{
		<h2>Recent shipments:</h2>
		@foreach (var shipment in shipments)
		{
			<GridItem @key="@(shipment.Id.Str())" Shipment="@(shipment)"/>
		}

		<a href="/shipments">
			View all
		</a>
	}
	else
	{
		<p>You have no tracked shipments yet.</p>
	}
</div>
