.container.navbar {
	background-color: transparent;
}

.navbar .navbar-item {
	padding-inline: 0 !important;
}

footer {
	--bulma-footer-padding: var(--bulma-block-spacing) calc(var(--bulma-block-spacing) * 2);

	margin-block-start: var(--bulma-block-spacing);
	padding-block-end: calc(var(--bulma-block-spacing) + var(--tab-bar-height));
}

.tab-bar {
	height: var(--tab-bar-height);

	z-index: 10;
	position: fixed;
	inset-inline: 0;
	inset-block-end: 0;

	padding-inline: env(safe-area-inset-left, 0px) env(safe-area-inset-right, 0px);
	padding-block-end: env(safe-area-inset-bottom, 0px);
}

.tab-bar ul {
	display: flex;
	flex-flow: row nowrap;
	align-items: start;
}

.tab-bar ul li {
	flex: 1 1 100%;
}

.tab-bar ul li ::deep .button {
	width: 100% !important;
}

.fab {
	z-index: 10;
	position: fixed;
	inset-inline-end: calc(var(--bulma-block-spacing) / 2);
	inset-block-end: calc(var(--tab-bar-height) + (var(--bulma-block-spacing) / 2));
}

@media screen and (max-width: 1216px) {
	main.container {
		padding-inline: var(--bulma-block-spacing);
	}
}
