.container.navbar {
	background-color: transparent;
}

.navbar .navbar-item {
	padding-inline: 0 !important;
}

footer {
	--bulma-footer-padding: var(--bulma-block-spacing) calc(var(--bulma-block-spacing) * 2);

	margin-block-start: var(--bulma-block-spacing);
}

.tab-bar {
	z-index: 10;
	position: fixed;
	inset-inline: 0;
	inset-block-end: 0;
}

.tab-bar ul {
	display: flex;
	flex-flow: row nowrap;
	align-items: start;
}

.tab-bar ul li {
	flex: 1 1 100%;
}

.tab-bar ul li ::deep .button {
	width: 100% !important;
}

@media screen and (max-width: 1216px) {
	main.container {
		padding-inline: var(--bulma-block-spacing);
	}
}
